<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Portfolio</title>
</head>

<body>
    <div id="app">
        <!-- App.vue -->
        <v-app>

            <!-- Nav bar -->
            <v-app-bar app dense>
                <v-app-bar-title>
                    Portfolio
                </v-app-bar-title>
                <v-spacer></v-spacer>
                <v-icon @click="changeLanguage()">mdi-google-translate</v-icon>
                <v-icon @click="changeTheme()" class="ml-2">mdi-theme-light-dark</v-icon>


                <template v-slot:extension>
                    <v-tabs align-with-title>
                        <v-tab v-for="item in navbar" @click="scrollTo(item.scrollTo)">
                            {{item.label}}
                        </v-tab>
                        <v-tab @click="openLink('https://www.linkedin.com/in/sebastian-parias/')">
                            <v-icon>mdi-linkedin</v-icon>
                        </v-tab>

                        <v-tab @click="openLink('https://github.com/sebastianparias')">
                            <v-icon>mdi-github</v-icon>
                        </v-tab>
                    </v-tabs>
                </template>
            </v-app-bar>
            <!-- /Nav bar -->


            <!-- Sizes your content based upon application components -->
            <v-main>
                <!-- welcome -->
                <v-row class="bg">
                    <v-col cols="12" align="center" class="bounce">
                        <h2 v-if="language" class="mt-10"><kbd>Welcome</kbd></h2>
                        <h2 v-else class="mt-10"><kbd>Bienvenido</kbd></h2>
                    </v-col>

                    <v-col cols="12" align="center" class="bounce">
                        <h1 v-if="language"><kbd>I'm Sebastian Parias</kbd></h1>
                        <h1 v-else><kbd>Soy Sebastian Parias</kbd></h1>
                    </v-col>

                    <v-col cols="12" align="center" class="bounce">
                        <h2 v-if="language" class="mb-10"><kbd>Web developer</kbd></h2>
                        <h2 v-else class="mb-10"><kbd>Desarrollador web</kbd></h2>
                    </v-col>
                </v-row>
                <!-- /welcome -->


                <!-- Provides the application the proper gutter -->
                <v-container>


                    <div class="gutter"></div>

                    <!-- introduction -->
                    <v-row id="introduction">
                        <v-col align="center">
                            <v-img width="300" tile src="./img/img.jpg"></v-img>
                        </v-col>
                        <v-col align="center" align-self="center">
                            <v-row>
                                <v-col>
                                    <h3>{{intro}}
                                    </h3>
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col>
                                    <ul class="ul">
                                        <li>
                                            <h3 class="inline">{{location}} Medellín, Colombia</h3>
                                        </li>
                                        <li>
                                            <h3 class="inline">{{ageString}} {{age}}</h3>
                                        </li>
                                    </ul>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                    <!-- /introduction -->


                    <div class="gutter"></div>

                    <!-- Skills -->
                    <v-row id="skills">
                        <v-row class="mt-10" justify="center">
                            <h1 v-if="language">My skills</h1>
                            <h1 v-else>Mis habilidades</h1>
                        </v-row>

                        <v-row>
                            <v-spacer></v-spacer>
                            <v-col cols="4" v-for="skill in skills">
                                <!-- <div> -->
                                <p class="text-center">{{skill.name}}</p>
                                <v-row justify="center">
                                    <v-icon small color="yellow" v-for="starNumber in skill.stars">
                                        mdi-star
                                    </v-icon>
                                    <v-icon small v-for="starNumber in 5-skill.stars">
                                        mdi-star
                                    </v-icon>
                                </v-row>
                            </v-col>
                            <v-spacer></v-spacer>
                        </v-row>
                    </v-row>
                    <!-- /Skills -->


                    <div class="gutter"></div>

                    <!-- timeline -->
                    <v-row id="timeline">
                        <v-row class="mt-10" justify="center">
                            <h1 v-if="language">Education and experience</h1>
                            <h1 v-else>Educación y experiencia</h1>
                        </v-row>

                        <v-row justify="center">
                            <v-timeline>
                                <v-timeline-item v-for="item in timeline">

                                    <template v-slot:icon>
                                        <v-avatar>
                                            <v-icon>{{item.icon}}</v-icon>
                                        </v-avatar>
                                    </template>

                                    <template v-slot:opposite>
                                        <span>{{item.period}}</span>
                                    </template>

                                    <v-card class="elevation-2">
                                        <v-card-title class="text-h5">
                                            {{item.title}}
                                        </v-card-title>
                                        <v-card-text>
                                            {{item.text}}
                                        </v-card-text>
                                    </v-card>
                                </v-timeline-item>
                            </v-timeline>
                        </v-row>
                    </v-row>
                    <!-- /timeline -->


                    <div class="gutter"></div>

                    <!-- portfolio -->
                    <v-row id="portfolio">
                        <v-row class="mt-10" justify="center">
                            <h1 v-if="language">See my work</h1>
                            <h1 v-else>Mira mis trabajos</h1>

                        </v-row>


                        <v-row justify="center">
                            <v-col cols="4">

                                <v-dialog v-model="dialog">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-card v-bind="on" v-on="on">
                                            <v-img :src="goalsApp.path" width="auto">
                                            </v-img>
                                            <v-card-title>
                                                {{goalsApp.title}}
                                            </v-card-title>
                                        </v-card>
                                    </template>

                                    <v-carousel height="auto" cycle="true" interval="5000" show-arrows-on-hover>
                                        <v-carousel-item reverse-transition="fade-transition"
                                            transition="fade-transition" v-for="(item,i) in indicatorsApp" :key="i"
                                            :src="item">
                                        </v-carousel-item>
                                    </v-carousel>
                                </v-dialog>
                            </v-col>

                            <v-col cols="4">
                                <v-card v-bind="on" v-on="on">
                                    <a>
                                        <v-img :src="todoApp.path" width="auto"
                                            @click="openLink('https://laravel-todo.000webhostapp.com/tasks')">
                                        </v-img>
                                    </a>
                                    <v-card-title>
                                        {{todoApp.title}}
                                    </v-card-title>
                                </v-card>
                            </v-col>

                            <v-col cols="4">
                                <v-card v-bind="on" v-on="on">
                                    <a>
                                        <v-img :src="pokeApp.path" width="auto"
                                            @click="openLink('https://vue3-poke.netlify.app/')">
                                        </v-img>
                                    </a>
                                    <v-card-title>
                                        {{pokeApp.title}}
                                    </v-card-title>
                                </v-card>
                            </v-col>

                        </v-row>
                    </v-row>
                    <!-- /portfolio -->

                    <div class="gutter"></div>

                    <!-- contact -->
                    <v-row class="mt-10" justify="center">
                        <h1 v-if="language">Contact</h1>
                        <h1 v-else>Contacto</h1>
                    </v-row>
                    <v-row id="contact">
                        <v-col cols="12" sm="12" md="6">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126916.69937767177!2d-75.65125242516612!3d6.2443694716632105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428dfb80fad05%3A0x42137cfcc7b53b56!2sMedell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses!2sco!4v1661486879996!5m2!1ses!2sco"
                                id="map" class="fill-height" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </v-col>

                        <v-col cols="12" sm="12" md="6">
                            <v-form>
                                <v-container>
                                    <form action="https://formspree.io/f/meqdopqj" method="POST">
                                        <v-row>
                                            <label for="name">{{nameLabel}}: </label>
                                        </v-row>
                                        <v-row>
                                            <v-text-field outlined name="name"></v-text-field>
                                        </v-row>
                                        <v-row>
                                            <label for="email">Email: </label>
                                        </v-row>
                                        <v-row>
                                            <v-text-field type="email" outlined name="email">
                                            </v-text-field>
                                        </v-row>
                                        <v-row>
                                            <label for="subject">{{subjectLabel}}: </label>
                                        </v-row>
                                        <v-row>
                                            <v-text-field outlined name="subject"></v-text-field>
                                        </v-row>
                                        <v-row>
                                            <label for="message">{{messageLabel}}: </label>
                                        </v-row>
                                        <v-row>
                                            <v-textarea outlined name="message"></v-textarea>
                                        </v-row>
                                        <v-row>
                                            <v-btn type="submit" block class="primary">{{buttonText}}</v-btn>
                                        </v-row>
                                    </form>
                                </v-container>
                            </v-form>
                        </v-col>
                    </v-row>
                    <!-- /contact -->

                    <div class="gutter"></div>

                </v-container>
            </v-main>

            <!-- Footer -->
            <v-footer app absolute>
                <v-row class="pa-4" justify="center">
                    Copyright ©{{currentYear}}
                </v-row>
            </v-footer>
            <!-- /Footer -->

        </v-app>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollToPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="main.js"></script>

</body>

</html>