a {
    text-decoration: none;
}

#map {
    width: 100%;
}

.ul {
    list-style-position: inside;
}

.bg {
    /* background: linear-gradient(rgba(255, 255, 255, 0.26), rgba(255, 255, 255, 0.26)),
    url(./img/bg.png); */
    background: url(./img/bg.png);
    width: 100vw;
    height: 80vh
}

.gutter {
    height: 25vh;
}

/* varias clases */
#introduction {
    opacity: 0;

}

.inline {
    display: inline;
}

.typing{
    display:block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 21ch;

    animation: typing 2s steps(20),
    blink .5s infinite step-end alternate;
    
    overflow:hidden;
}


@keyframes typing {
    from {width: 0}
}

@keyframes blink{
    50% {border-color: transparent}
}