a {
    text-decoration: none;
}

#map {
    width: 100%;
}

.ul {
    list-style-position: inside;
}

.bg {
    /* background: linear-gradient(rgba(255, 255, 255, 0.26), rgba(255, 255, 255, 0.26)),
    url(./img/bg.png); */
    background: url(./img/bg.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.gutter {
    height: 25vh;
}

/* varias clases */
#introduction {
    opacity: 0;
}

.inline {
    display: inline;
}

.typing {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 21ch;

    animation: typing 2s steps(20),
        blink .5s infinite step-end alternate;

    overflow: hidden;
}


@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

/* .theme--light.v-application {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1268%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cg mask='url(%26quot%3b%23SvgjsMask1270%26quot%3b)'%3e%3cpath d='M-12.5 287.5L12.5 287.5L37.5 287.5L62.5 287.5L87.5 287.5L112.5 287.5L137.5 287.5L162.5 287.5L187.5 287.5L212.5 287.5L237.5 287.5L262.5 287.5L287.5 262.5L312.5 262.5' stroke='url(%23SvgjsLinearGradient1269)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M306.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1269)'%3e%3c/path%3e%3cpath d='M-12.5 262.5L12.5 262.5L37.5 262.5L62.5 262.5L87.5 262.5L112.5 262.5L137.5 262.5L162.5 262.5L187.5 262.5L212.5 262.5' stroke='url(%23SvgjsLinearGradient1269)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M206.25 262.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1269)'%3e%3c/path%3e%3cpath d='M37.5 312.5L62.5 337.5L87.5 337.5M162.5 312.5L187.5 337.5M112.5 312.5L137.5 337.5L162.5 337.5M-12.5 312.5L12.5 312.5L37.5 312.5L62.5 312.5L87.5 312.5L112.5 312.5L137.5 312.5L162.5 312.5L187.5 312.5L212.5 312.5L237.5 312.5' stroke='url(%23SvgjsLinearGradient1269)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M231.25 312.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM81.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM181.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM156.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1269)'%3e%3c/path%3e%3cpath d='M287.5 237.5L312.5 212.5L337.5 212.5L362.5 212.5L387.5 237.5M62.5 237.5L87.5 212.5L112.5 212.5M262.5 237.5L287.5 212.5L312.5 187.5L337.5 187.5L362.5 187.5M-12.5 237.5L12.5 237.5L37.5 237.5L62.5 237.5L87.5 237.5L112.5 237.5L137.5 237.5L162.5 237.5L187.5 237.5L212.5 237.5L237.5 237.5L262.5 237.5L287.5 237.5L312.5 237.5L337.5 237.5' stroke='url(%23SvgjsLinearGradient1269)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M331.25 237.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM381.25 237.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM106.25 212.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM356.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1269)'%3e%3c/path%3e%3cpath d='M12.5 337.5L37.5 337.5M-12.5 337.5L12.5 337.5L37.5 362.5L62.5 362.5L87.5 362.5L112.5 362.5L137.5 362.5' stroke='url(%23SvgjsLinearGradient1269)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M131.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM31.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1269)'%3e%3c/path%3e%3cpath d='M37.5 187.5L62.5 212.5M12.5 187.5L37.5 212.5M-12.5 212.5L12.5 187.5L37.5 187.5L62.5 187.5L87.5 187.5L112.5 187.5L137.5 187.5' stroke='url(%23SvgjsLinearGradient1269)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M131.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM56.25 212.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM31.25 212.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1269)'%3e%3c/path%3e%3cpath d='M287.5 362.5L312.5 337.5M212.5 387.5L237.5 387.5L262.5 387.5L287.5 387.5M312.5 362.5L337.5 387.5M-12.5 362.5L12.5 387.5L37.5 387.5L62.5 387.5L87.5 387.5L112.5 387.5L137.5 387.5L162.5 387.5L187.5 387.5L212.5 387.5L237.5 362.5L262.5 362.5L287.5 362.5L312.5 362.5L337.5 362.5' stroke='url(%23SvgjsLinearGradient1269)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M331.25 362.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM306.25 337.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM281.25 387.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM331.25 387.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1269)'%3e%3c/path%3e%3cpath d='M337.5 137.5L362.5 162.5L387.5 162.5L412.5 187.5M487.5 162.5L512.5 187.5L537.5 187.5L562.5 187.5L587.5 187.5L612.5 187.5L637.5 187.5L662.5 187.5M237.5 137.5L262.5 162.5M562.5 162.5L587.5 137.5M362.5 137.5L387.5 112.5L412.5 112.5L437.5 112.5L462.5 112.5M312.5 137.5L337.5 112.5L362.5 112.5L387.5 87.5L412.5 87.5L437.5 87.5L462.5 87.5M-12.5 187.5L12.5 162.5L37.5 162.5L62.5 162.5L87.5 162.5L112.5 162.5L137.5 162.5L162.5 162.5L187.5 162.5L212.5 162.5L237.5 137.5L262.5 137.5L287.5 137.5L312.5 137.5L337.5 137.5L362.5 137.5L387.5 137.5L412.5 162.5L437.5 162.5L462.5 162.5L487.5 162.5L512.5 162.5L537.5 162.5L562.5 162.5L587.5 162.5L612.5 162.5L637.5 162.5' stroke='url(%23SvgjsLinearGradient1269)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M631.25 162.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM406.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM656.25 187.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM256.25 162.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM581.25 137.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM456.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM456.25 87.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1269)'%3e%3c/path%3e%3cpath d='M237.5 412.5L262.5 437.5L287.5 462.5M112.5 412.5L137.5 437.5L162.5 437.5M12.5 412.5L37.5 437.5L62.5 437.5L87.5 437.5M-12.5 387.5L12.5 412.5L37.5 412.5L62.5 412.5L87.5 412.5L112.5 412.5L137.5 412.5L162.5 412.5L187.5 412.5L212.5 412.5L237.5 412.5L262.5 412.5L287.5 412.5' stroke='url(%23SvgjsLinearGradient1269)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M281.25 412.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM281.25 462.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM156.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM81.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1269)'%3e%3c/path%3e%3cpath d='M237.5 112.5L262.5 87.5L287.5 87.5L312.5 87.5M162.5 137.5L187.5 112.5L212.5 112.5L237.5 87.5M137.5 137.5L162.5 112.5L187.5 87.5L212.5 87.5M-12.5 162.5L12.5 137.5L37.5 137.5L62.5 137.5L87.5 137.5L112.5 137.5L137.5 137.5L162.5 137.5L187.5 137.5L212.5 137.5L237.5 112.5L262.5 112.5' stroke='url(%23SvgjsLinearGradient1269)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M256.25 112.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM306.25 87.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM231.25 87.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM206.25 87.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1269)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1268'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0' y1='280' x2='720' y2='280' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1269'%3e%3cstop stop-color='%233a7cc3' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(248%2c 255%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cmask id='SvgjsMask1270'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3cpath d='M309.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M209.37 262.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M234.37 312.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM84.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM184.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM159.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M334.37 237.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM384.37 237.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM109.37 212.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM359.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M134.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM34.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M134.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM59.37 212.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM34.37 212.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M334.37 362.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM309.37 337.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM284.37 387.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM334.37 387.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M634.37 162.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM409.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM659.37 187.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM259.37 162.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM584.37 137.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM459.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM459.37 87.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M284.37 412.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM284.37 462.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM159.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM84.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M259.37 112.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM309.37 87.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM234.37 87.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM209.37 87.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-attachment: fixed;
    color: white;
} */

.theme--dark.v-application {
    background-color: rgba(0, 0, 0, 0) !important;
}

#hc_extension_bkgnd {
    background: none 0% 0% / auto no-repeat scroll padding-box border-box rgb(0, 0, 0) !important;
}

.v-app-bar-title {
    width: 50vw;
}

#lienzo {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1
}

.dark-bg {
    background-color: rgba(30, 30, 30, 0.8);

}

.row {
    margin: 0 0 3vh 0 !important;
    width: 100% !important;
    position: relative !important;
}

.theme--dark.v-card {
    background-color: rgb(40, 40, 40) !important;
}